body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #43a1ff, #000531);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: #fff;
  }
  
  .container {
    padding-top: 80px;
    width: 100%;
  }
  
  .list-companies h3 {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: 30px;
    padding: 15px;
    background: linear-gradient(to left, #1e90ff, #1c7ed6);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #1e90ff;
    color: #fff;
  }
  
  .table td {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .table tr:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .table-mini {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 0;
    overflow: hidden;
    color: #fff;
  }
  
  .table-mini th, .table-mini td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table-mini th {
    background-color:  rgba(0, 0, 0, 0.9);
    color: #fff;
  }
  
  .table-mini td {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .btn-action {
    background-color: transparent;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .btn-action:hover {
    opacity: 0.8;
  }
  
  .edit {
    background-color: #28a745;
  }
  
  .delete {
    background-color: #dc3545;
  }
  